.ticker-bar {
  white-space: nowrap;
  font-size: 14px;
  border-bottom: 1px solid #333;
  background-color: black;
}

.ticker-content {
  display: inline-flex;
  animation: tickerMove 25s linear infinite;
  padding: 20px;
  font-size: 18px;
}

.ticker-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.ticker-label {
  color: #aaa;
}

.ticker-value {
  color: #0d6efd; /* bootstrap primary */
  font-weight: bold;
}

.ticker-content:hover {
  animation-play-state: paused;
}
/* Animation */
@keyframes tickerMove {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
